PORT=4000
DATABASE_URL="postgresql://postgres.ikkcmxsvglgknoxhqceu:[YOUR-PASSWORD]@aws-1-ap-south-1.pooler.supabase.com:5432/postgres"
JWT_SECRET="change-me-in-production"
JWT_EXPIRES_IN="8h"
UPLOAD_DIR="./uploads"
CLIENT_ORIGIN="http://localhost:5173"
